@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,300&family=Edu+SA+Beginner&family=Jua&family=Julius+Sans+One&family=Mohave:ital@1&display=swap");
/**
CSS rules to specify families

font-family: 'Crimson Pro', serif;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Mohave', sans-serif;
*/
