/*first palette*/
$fogra-29: #01161e;
$eagle-green: #124559;
$teal-blue: #598392;
$cosmic-latte: #f8f4e3;
$paradise-pink: #e5446d;
$jet: #2a2b2a;
$nickel: #706c61;

$test-border: 2px solid $cosmic-latte;
