@use "../abstracts" as *;
* {
  scroll-behavior: smooth;
  font-family: "Edu SA Beginner", cursive;
}
.mobile {
  display: none;
}
body {
  height: 100vh;
  // position: relative;
  background-image: url(/assets/pictures/bgr.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  --height: 3rem;
  header {
    position: fixed;
    width: 100%;
    height: fit-content;
    z-index: 10;
  }
  nav {
    position: sticky;
    width: 100%;
    height: var(--height);
    font-weight: bold;
    display: grid;
    font-size: 1.5rem;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    background-color: $fogra-29;
    color: $cosmic-latte;

    .logo {
      grid-column: 1;
      margin-left: 0.5rem;
      font-family: "Crimson Pro", serif;
      font-size: 1.5rem;
    }
    .user-actions {
      display: flex;
      grid-column: 3;
      button:not(.active) {
        display: none;
      }
    }
    #menu-toggle {
      display: none;
    }
    button {
      width: fit-content;
      padding: 0.5rem;
      background-color: transparent;
      border: none;
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
    font-family: "Edu SA Beginner", cursive;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1.8vw;
    }
  }
  main {
    padding-top: var(--height);
    overflow: hidden;

    h1 {
      text-align: center;
      margin: 5vh auto;
      font-size: 10vmin;
      width: fit-content;
      font-family: "Crimson Pro", serif;
      background-image: linear-gradient(
          transparent 20%,
          transparentize($teal-blue, 0.25) 40%,
          transparentize($teal-blue, 0.25) 60%,
          transparent 80%
        ),
        linear-gradient(
          to right,
          transparent 10%,
          transparentize($teal-blue, 0.25) 30%,
          transparentize($teal-blue, 0.25) 70%,
          transparent 90%
        );
      background-blend-mode: lighten;
      border-radius: 50%;
      box-shadow: 0 0 5rem 2rem $teal-blue;
      border: none;
      color: white;
      padding: 1rem 3rem;
      mix-blend-mode: darken;
    }
    .btn {
      margin: 0 auto;
      //border: $test-border;
      font-size: 2rem;
      padding: 0.5rem 1rem;
      transition: all 0.25s;
    }
    .btn--explore {
      background-image: linear-gradient(45deg, $eagle-green 40%, $nickel 60%);
      background-size: 200%;
      background-position: top left;
      border: 1px solid;
      &:hover {
        background-position: bottom right;
        border-radius: 1rem;
      }
    }
    .page {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      h2 {
        text-align: center;
        width: fit-content;
        font-family: "Crimson Pro", serif;
        user-select: none;
        font-size: 3rem;
        margin: 3rem auto;
      }
    }
    .page-2 {
      margin: auto;
      height: max-content;
      //overflow: visible;
      padding: 1rem;
      background-color: $fogra-29;
      //width: fit-content;
      h2 {
        color: $cosmic-latte;
      }
      .container {
        justify-items: center;
        gap: 1rem;
        padding: 1rem;
        background-color: $cosmic-latte;
        font-family: "Julius Sans One", sans-serif;
        border-radius: 1rem;
        display: grid;
        gap: 1rem;
        max-width: 1200px;
        width: fit-content;
        .item {
          border-radius: 1rem;
          &:nth-of-type(1) .picture {
            background-image: url(/assets/pictures/me.jpg);
            background-position: bottom;
          }
          &:nth-of-type(2) .picture {
            background-image: url(/assets/pictures/me2.jpg);
          }
          &:nth-of-type(3) .picture {
            background-image: url(/assets/pictures/me3.jpg);
            background-position: top;
          }
          &:nth-of-type(4) .picture {
            background-image: url(/assets/pictures/codingbrain.jpg);
          }
          &:nth-of-type(5) .picture {
            background-image: url(/assets/pictures/Website-Design.jpeg);
          }
          &:nth-of-type(6) .picture {
            background-image: url(/assets/pictures/dev.png);
          }
          .picture {
            height: 25vh;
            border-radius: 1rem;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
    }
    .page-3 {
      background-color: $cosmic-latte;
      color: $nickel;
      height: fit-content;
      padding: 1rem;
      .flex-wrapper {
        display: flex;
        align-items: start;

        .skills {
          display: grid;
          grid-template: repeat(3, 1fr) / repeat(3, 1fr);
          width: 80vmin;
          margin: 0 auto;
          aspect-ratio: 1;
          max-width: 400px;
          gap: 1rem;
          padding: 1rem;

          .skill {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            &:nth-of-type(1) {
              background-image: url(/assets/pictures/html.png);
            }
            &:nth-of-type(2) {
              background-image: url(/assets/pictures/css.jpg);
            }
            &:nth-of-type(3) {
              background-image: url(/assets/pictures/sass.jpg);
            }
            &:nth-of-type(4) {
              background-image: url(/assets/pictures/mysql_hosting.png);
            }
            &:nth-of-type(5) {
              background-image: url(/assets/pictures/javascript_logo.png);
            }
            &:nth-of-type(6) {
              background-image: url(/assets/pictures/typescript.png);
            }
            &:nth-of-type(7) {
              background-image: url(/assets/pictures/react.png);
            }
            &:nth-of-type(8) {
              background-image: url(/assets/pictures/node.png);
            }
            &:nth-of-type(9) {
              background-image: url(/assets/pictures/mongo.png);
            }
          }
        }
      }
      .question {
        font-family: "Edu SA Beginner", cursive;
        font-size: 1.5rem;
      }
    }
    .page-4 {
      display: block;
      height: fit-content;
      .outer {
        position: relative;
        background-color: black;
        margin: auto;
        overflow: hidden;
        width: 100vmin;
        aspect-ratio: 1.3;
        #sky {
          @keyframes shining-sky {
            50% {
              opacity: 0.4;
            }
          }
          animation: "shining-sky" 4s ease-in-out infinite;
          background-image: url(/assets/pictures/stars.png);
          background-size: 100%;
          position: absolute;
          height: 100%;
          width: 100%;
        }
        .inner {
          rotate: 15deg;
          translate: 0 -12%;

          #sun {
            .core {
              @keyframes shining {
                from {
                  box-shadow: 0 0 20vmin 5vmin #ff5100, 0 0 50vmin 5vmin #ffae00;
                }
                to {
                  box-shadow: 0 0 20vmin 15vmin #ff5100,
                    0 0 50vmin 15vmin #ffae00;
                }
              }
              animation: shining 2s linear infinite alternate;
              height: 100%;
              width: 100%;
              scale: 0.59;
              border-radius: 50%;
            }
            @keyframes sun {
              to {
                rotate: 1turn;
              }
            }
            animation: sun 20s linear infinite;
            position: absolute;
            right: 0;
            top: 0;
            translate: -100% 100%;
            aspect-ratio: 1;
            height: 20%;
            background-image: url(/assets/pictures/sun2.gif);
            background-size: cover;
            background-position: center;
            border-radius: 50%;
          }
          #orbit {
            @keyframes orbit {
              from {
                transform: rotateZ(45deg) rotateY(60deg) rotateZ(0);
              }
              to {
                transform: rotateZ(45deg) rotateY(60deg) rotateZ(1turn);
              }
            }
            border-radius: 50%;
            aspect-ratio: 1;
            margin-left: auto;
            position: relative;
            //perspective: 1500px;
            //transform-style: preserve-3d;
            animation: orbit 10s linear infinite;
            #earth {
              position: absolute;
              left: 50%;
              translate: -50% -50%;
              margin: 0 auto;
              height: 10%;
              background-size: cover;
              aspect-ratio: 1;
              background-image: url(/assets/pictures/Rotating_earth.gif);
            }
          }
        }
      }
    }
    .page-5 {
      form {
        margin: auto auto 0;
        padding: 0.5rem;
        width: 80%;
        display: grid;

        border: $test-border;
        background-image: linear-gradient(
          gray 10%,
          rgba(0, 0, 0, 0.5) 50%,
          gray 90%
        );
        font-size: 1.5rem;
        .form-title {
          color: white;
          font-size: 1.5rem;
          user-select: none;
        }

        .input-block {
          position: relative;

          label {
            display: block;
            color: white;
            mix-blend-mode: screen;
          }
          input,
          textarea {
            width: 100%;
            border-radius: 0.5rem;
            padding: 0.25rem 1rem;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
            line-height: 1.2rem;
            font-size: 1.2rem;
          }
          textarea {
            min-height: 10rem;
          }
        }
        .form-buttons {
          margin: 0 auto;
          .form-button {
            padding: 0.5rem 1rem;
            margin: 0 1rem;
            color: white;
            border: none;
            font-size: 1.2rem;

            &[type="reset"] {
              background-color: red;
            }
            &[type="submit"] {
              background-color: green;
            }
            &:active {
              scale: 0.95;
            }
          }
        }
      }
    }
  }
  footer {
    background-color: $jet;
    padding: 0.5rem;
    text-align: center;
    margin-top: auto;
    width: 100%;
    color: white;
    .footer-text {
      font-size: 1.5rem;
    }
    .footer-icon {
      margin: 0 0.5rem;
    }
  }
}
