@use "../abstracts" as *;
@media only screen and(min-width: 425px) {
  body {
    .mobile {
      display: none;
    }
    .page-2 {
      .container {
        grid-template-columns: repeat(2, 1fr);
        //grid-template-rows: repeat(3, 1fr);
        .item {
          .picture {
            min-height: 15rem;
            width: auto;
            background-position: center;
          }
        }
      }
    }
  }
}
